.idea
.ipynb_checkpoints
.mypy_cache
__pycache__
.pytest_cache
htmlcov
dist/
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile
Pipfile.lock
build/
*.egg-info/
.env
*.Identifier

# OS X
.DS_Store

tests/fixtures/xfer-original-*
tests/fixtures/img-tag-*
*.html
/scripts/.cache
/.cache
